#ultimos-libros {
	background: #504d44;
}

.ultimo-container {
	height: 260px;
}

.coverLibro {
	background: #504d44;
	color: white;
}

.coverLibro img {
	width: 100%;
}

.coverLibro .info {
	margin-top: 10px;
}